@use "../../styles/colors" as *;
@use "../../styles/layout" as *;
@use "../../styles/mixins" as *;

.featured-classes-events {
  color: $color-blue-500;

  &__header,
  & > .btn {
    @include container;
  }

  &__header {
    h2 {
      margin-bottom: 16px;
    }
  }

  &__cards {
    padding-top: 30px;
    padding-bottom: 12px;

    .card-item {
      background-color: white;
      border-radius: 4px;
      height: 100%;
      padding: 42px 22px 24px 20px;
      display: flex;
      flex-direction: column;

      @include elevation-2;

      &__date {
        display: block;
        margin-bottom: 16px;
      }

      &__heading {
        @include h4;

        font-size: 1.5rem;
        line-height: 2rem;
        padding-bottom: 16px;
        border-bottom: 1px solid $color-grey-1000;
      }

      &__desc {
        @include p;

        padding-top: 16px;
        padding-bottom: 16px;
      }

      .btn {
        display: flex;
        margin-top: auto;

        &:hover {
          span:first-of-type {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .karousel-container .card-item {
    margin-right: 20px;
  }

  .grid-container .card-item {
    margin-right: 0;
  }

  @include respond(md-viewport) {
    &__header {
      p {
        width: 40%;
      }
    }

    &__cards {
      padding-top: 40px;
      padding-bottom: 40px;

      .card-item {
        p {
          padding-bottom: 24px;
          font-size: 1rem;
          line-height: 1.75rem;
        }
      }
    }

    .grid-container {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
