$sans-serif-font-family: "neue-haas-grotesk-text", sans-serif;
$sans-serif-font-family-heading: "neue-haas-grotesk-display", sans-serif;
$serif-font-family: "playfair-display", serif;
$fw-light: 400;
$fw-regular: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-serif: 500;
$fs-h1-d-lg: 3.5rem; /* font-size h1 desktop large */
$lh-h1-d-lg: 4rem; /* line-height h1 desktop large */
$fs-h1-d-sm: 3.25rem;
$lh-h1-d-sm: 3.75rem;
$fs-h1-m: 2rem;
$lh-h1-m: 2.375rem;
$fs-h2-d: 2.625rem;
$lh-h2-d: 3.625rem;
$fs-h2-m: 1.75rem;
$lh-h2-m: 2.125rem;
$fs-h3-d: 2rem;
$lh-h3-d-lg: 3rem;
$lh-h3-d-sm: 2.625rem;
$fs-h3-m: 1.5rem;
$lh-h3-m: 2rem;
$fs-h4-d: 1.5rem;
$lh-h4-d: 2.25rem;
$fs-h4-m: 1.25rem;
$lh-h4-m: 1.75rem;
$fs-body-1-d: 1.375rem; /* body-1 = p */
$lh-body-1-d: 2.375rem;
$fs-body-1-m: 1rem;
$lh-body-1-m: 1.5rem;
$fs-body-2-d: 0.875rem; /* body-2 = p.body */
$lh-body-2-d: 1.75rem;
$fs-body-2-m: 0.875rem;
$lh-body-2-m: 1.25rem;
$fs-li-d: 1.375rem;
$lh-li-m: 2rem;
$fs-sm-d: 0.875rem;
$lh-sm-d: 1.75rem;
$fs-sm-m: 0.875rem;
$lh-sm-m: 1.25rem;

/* h1, h2, h3, h4, p, small, em */
* {
  font-family: $sans-serif-font-family;

  /* color: $color-typography-high-emphasis; */
  font-style: normal;

  /* font-weight: $sans-fw-body-3; */
}

.light {
  font-weight: $fw-light;
}

.reg,
small,
p {
  font-weight: $fw-regular;
}

h1,
h2,
h3,
h4 {
  font-family: $sans-serif-font-family-heading !important;
}

h1,
h2,
h3,
h4,
.semibold {
  font-weight: $fw-semi-bold;
}

.bold {
  font-weight: $fw-bold;
}

/* italic font */
em {
  font-family: $sans-serif-font-family, serif;
  font-weight: $fw-serif;
  font-style: italic;
}

h1 {
  font-size: $fs-h1-m;
  line-height: $lh-h1-m;
  // letter-spacing: 0.02em;
}

h1.light,
h1.bold {
  letter-spacing: unset;
}


h2 {
  font-size: $fs-h2-m;
  line-height: $lh-h2-m;
}

h3 {
  font-size: $fs-h3-m;
  line-height: $lh-h3-m;
}

h2 em,
h3 em {
  font-family:$serif-font-family;
  font-weight: $fw-serif;
  font-style: italic;
}

h4 {
  font-size: $fs-h4-m;
  line-height: $lh-h4-m;
  // font-family: $sans-serif-font-family-heading;
}

h4.reg,
h4.light {
  letter-spacing: 0.02em;
}

h1.h1-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

p.body {
  font-size: $fs-body-2-m;
  line-height: $lh-body-2-m;
}

p {
  font-size: $fs-body-1-m;
  line-height: 1.5;
}

p{
  line-height: 1.5 !important;
}

small {
  font-size: $fs-sm-m;
  line-height: $lh-sm-m;
}

a {
  color: $color-typography-enabled-link;
}

@include respond(md-viewport) {
  h1 {
    font-size: $fs-h1-d-lg;
    line-height: $lh-h1-d-lg;
  }

  h1.reg {
    font-size: $fs-h1-d-sm;
    line-height: $lh-h1-d-sm;
  }

  h2 {
    font-size: $fs-h2-d;
    line-height: $lh-h2-d;
  }

  h3 {
    font-size: $fs-h3-d;
    line-height: $lh-h3-d-sm;
  }

  h3.bold {
    line-height: $lh-h3-d-lg;
  }

  h3.reg {
    line-height: $lh-h3-d-lg;
  }

  h3.light {
    line-height: $lh-h3-d-lg;
  }

  h4 {
    font-size: $fs-h4-d;
    line-height: $lh-h4-d;
  }

  p.body {
    font-size: $fs-body-2-d;
    line-height: $lh-body-2-d;
  }

  p {
    font-size: $fs-body-1-d;
    line-height: 1.5;
  }

  /* caption/legal */
  small {
    font-size: $fs-sm-d;
    line-height: $lh-sm-d;
  }
}
